{
  "presets": ["babel-preset-mcs-lite"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      [
        {
          "libraryName": "mtk-ui",
          "libraryDirectory": "lib",
          "camel2DashComponentName": false
        },
        {
          "libraryName": "mtk-icon",
          "libraryDirectory": "lib",
          "camel2DashComponentName": false
        }
      ]
    ],
    ["react-intl", {
        "messagesDir": "./messages"
    }]
  ]
}
