.base {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #00A1DE;
  margin-right: -10px;
}

.menu {
  z-index: 2;
  position: absolute;
  margin-top: 5px;
  right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon {
  cursor: pointer;
}
