.base {
  padding: 9px;
}
.panelHeader span{
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  font-size: 13px;
  color: #00A1DE;
  text-decoration: none;
  cursor: pointer;
}

.noAnyPrototypes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.noAnyPrototypes p {
  margin-top: 40px;
  text-align: center;
}

.button {
  width: 80px;
}

.prototypeContent {
  /*padding: 10px 0px 0px 0px;*/
  border-bottom: 1px solid #F1F2F7;
}

.prototypeImg {
  width: 113px;
  height: 60px;
}

.tableCell {
  display: flex;
  flex-direction: column;
}

.tableRow {
  padding: 10px 0px !important;
  margin: 0px;
}

.updatedAt {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}