.base {
  padding: 9px;
  padding-top: 0;
}
.panelHeader span{
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #00A1DE;
  text-decoration: none;
  cursor: pointer;
}

.link > svg {
  margin-left: 3px;
  transform: rotate(0deg);
  transition: transform .2s linear;
}

.listOpen > svg {
  transform: rotate(180deg);
}

.noAnyPrototypes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.noAnyPrototypes p {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  width: 80px;
}

.prototypeContent {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #F1F2F7;
}

.prototypeImg {
  width: 115px;
  height: 60px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.cell:last-child {
  margin-left: auto;
}

.cell > span:first-child {
  margin-bottom: 10px;
  color: #999A94;
}

.deviceList {
  margin-top: 10px;
}

.noDevices {
  margin-top: 40px;
  margin-bottom: 20;
  text-align: center;
}
