.base {
  margin-left: 9px;
  margin-right: 9px;
  height: 385px;
  width: 300px;
  margin-bottom: 18px;
  position: relative;
  border: 2px dashed #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button {
  margin-top: 10px;
}