.dialogBody {
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectForm {
  margin-bottom: 10px;
}

.paddingBottomZero {
  padding-bottom: 0;
}

.input {
  min-width: 328px;
}

.img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px
}

.link {
  color: #00A1DE;
  text-decoration: none;
  cursor: pointer;
}
