.base {
  padding-top: 50px;
  width: 954px;
  margin: 0 auto;
  box-sizing: border-box;
}

.graphPreview {
  height: 200px;
  width: 66%;
  padding: 16px;
  background-color: #fff;
  margin: 20px 9px;
}

.displayCard {
  margin: 9px 9px 15px 9px;
  width: 280px;
}