.base{
  padding-top: 50px;
  width: 954px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.content{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}

.aaa {
  color: red;
}

.bbb {
  color: blue;
}