.base {
  box-sizing: border-box;
  margin-left: 9px;
  margin-right: 9px;
  height: 385px;
  width: 300px;
  margin-bottom: 18px;
  position: relative;
  background: #fff;
  border: 1px solid #f1f2f7;
  border-radius: 3px;
  box-shadow: 1px 2px 1px 0 #e0e0e0, 0 0 0 #e0e0e0;
  box-sizing: border-box;
}

.img {
  height: 160px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 185px;
  padding: 20px;
}

.button {
  width: 100%;
}

.more {
  position: absolute;
  margin-left: 250px;
  padding: 14px;
}

.deviceName {
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}

.hr {
  margin: 0;
}
