.base {
  padding-left: 9px;
  padding-right: 9px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.searchGroup {
  width: 210px;
}

.searchButton {
  min-width: inherit;
  width: 32px;
  padding: 0;
}
