.dataChannelCard {
  margin: 9px 9px 15px 9px;
  width: 280px;
}

.dataChannelCard.withGraph {
  position: relative;
  width: 100%;
}

.dataChannelCard.withGraph > div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
}

.dataChannelCard.withGraph > div:nth-child(3) {
  width: 240px;
}

.displayWrap {
  display: flex;
  justify-content: center;
  min-width: 240px;
  max-height: 209px;
}
