.base {
  border-radius: 3px;
  height: 300px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  width: 280px;
  border: 1px solid #f1f2f7;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px;
}

.content {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  margin: 0px;
}

.button {
  margin-top: 8px;
  align-content: flex-end;
}
