.base {
  border-radius: 3px;
  height: 300px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  width: 280px;
  border: 1px solid #f1f2f7;
  /*margin: 9px;*/
  box-shadow: 1px 2px 1px 0 rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.1);
  padding: 9px;
}

.description {
  color: #999a94;
  margin: 0px;
  height: 80px;
}

.content {
  width: 260px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
}

.hr {
  margin: 0px;
}

.button {
  align-content: flex-end;
}