.base {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  width: 66px;
  text-align: left;
}

.input {
  box-sizing: border-box;
  height: 20px;
  border-radius: 10px;
  background: #65ceef !important;
  border: 1px solid #65ceef;
  color: #ffffff;
  font-size: 10px;
  width: 146px;
  float: left;
  padding: 0 7px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: left;
}

.input:focus {
  border: 1px solid #00a1de;
  box-shadow: none;
}
