.base {
  background-image:url("./background.jpg");
  width: 100%;
  position: absolute;
  height: 100%;
  color: #353630;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hr {
  color: #999a94;
  padding-bottom: 9px; /* 25-8-8 */
}

.form {
  background: #fff;
  width: 300px;
  height: 307px;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
}

.input{
  margin-bottom: 8px;
}

.logo{
  width: 100%;
  max-width: 220px;
  margin: 20px auto 20px auto;
  display: block;
}

.submit{
  width: 100%;
  margin-top: 20px;
}

.createaccount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createaccount a {
  color: #00a1de;
  cursor: pointer;
  margin-top: 10px;
}

.createaccount p {
  margin-bottom: 0px;
  margin-top: 10px;
}
