.base {
  background-image:url("images/background.jpg");
  width: 100%;
  position: absolute;
  height: 100%;
  color: #353630;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hr {
  color: #999A94;
  padding-bottom: 2px;
}

.form {
  background: #FFFFFF;
  width: 300px;
  border-radius: 3px;
  padding: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.20);
}

.input{
  margin-bottom: 10px;
}

.logo{
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin: 20px auto 20px auto;
  display: block;
}

.submit{
  width: 100%;
  margin-top: 20px;
}

.createaccount{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: #999A94;
}

.createaccount a {
  color: #00a1de;
  text-decoration: none;
}

.errorMsg {
  color: #D0021B;
  text-align: center;
  margin-bottom: 20px;
}
