.base {
  height: 160px;
  margin-left: 9px;
  margin-right: 9px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info {
  width: 618px;
  border-radius: 4px;
  background: #fff;
  display: flex;
}

.info img{
  height: 160px;
  width: 300px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.info div{
  padding: 20px;
}

.deviceSecrets {
  font-size: 13px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  display: flex;
  margin-left: 18px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
}

.hint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  text-align: center;
}
