.base {
  margin-left: 9px;
  margin-right: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info {
  width: 100%;
  height: 164px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex-direction: row;
}

.info img{
  height: 164px;
}

.info div{
  padding: 16px 18px;
}

.testDevice {
  height: 164px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  max-width: 300px;
  min-width: 300px;
  margin-left: 18px;
  flex-direction: column;
  justify-content: space-between;
}

.testDeviceInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.testDeviceInfo span {
  font-size: 32px;
  margin: 0px;
}

.testDeviceInfo p {
  margin: 0px;
  color: #999a94;
}

.hint {
  padding: 0 10px;
  max-height: 36px;
  min-height: 36px;
  text-align: center;
}
