.base {
  padding-left: 9px;
  padding-right: 9px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hr {
  margin-top: 0px;
  margin-bottom: 13px; /* 20-7 */
}

.info {}

.option {
  display: flex;
  align-items: flex-end;
}

.option button {
  margin-left: 5px;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

.infoHeader h3 {
  margin: 0 5px 0 0;
  font-size: 22px;
  font-weight: 500;
}
.infoHeader span {
  color: #999A94;
}